<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <piotrjaworski_seotitlebooster>
            <general>
                <seotitlebooster_enabled>0</seotitlebooster_enabled>
                <seotitlebooster_target></seotitlebooster_target>
            </general>                
        </piotrjaworski_seotitlebooster>
    </default>
</config>