<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="appe_seotitlebooster" translate="label" sortOrder="200">
            <label>APPE</label>
        </tab>
        
        <section id="piotrjaworski_seotitlebooster" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SEO Title Booster</label>
            <tab>appe_seotitlebooster</tab>
            <resource>PiotrJaworski_SEOTitleBooster::all</resource>
            
            
            
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="seotitlebooster_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            
                <field id="seotitlebooster_target" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Target</label>
                    <source_model>PiotrJaworski\SEOTitleBooster\Model\Config\Target</source_model>
                </field>
            
            
            </group>
            
            
            
        </section>
    </system> 
</config>